<nav class="navbar navbar-expand-lg navbar-dark" id="enge_cor" style="margin-bottom: 1rem;">
  <a class="navbar-brand" href="/"><img src="/img/Logo-Grupo-Engepeças-b-300x97.png" alt="some text" width=auto height=40></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>