#enge_cor {
    background-color: #fab600;
}

body {
    background-color:beige;
    padding-top:50px;
}

.title{
    text-align: center;
    /* margin-top: 0; */
    margin-bottom: 2rem;
    /* background-color:#343a40; */
    color: #fff;
}

.title h4{
    font-size: 3rem;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu{
    height: 100%;
    /* margin: 1rem; */
}

/* .conteudo{  
    margin-right: 1rem;
    margin-top: 1rem; 
} */

#mostra {
    margin-bottom: 2rem;
}