<!doctype html>
<html lang="pt">

<head>
    <%- include('../layout/head'); %>
</head>

<body>
    <div class="container">
        <div class="row">

            <header class="col-12"> 
                <%- include('../layout/header'); %>
            </header>

            <div class="title col-12">
                <h4 class="mb-sm-0 font-size-18">E-commerce</h4>
            </div>

        </div>

        <div class="row">
            <%- include('../layout/menu'); %>

                <main class="col conteudo">
                    Conteudo!!!
                </main>
        </div>
    </div>

    <footer>
        <%- include('../layout/footer'); %>
    </footer>
</body>

</html>